#game {
    width:400px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 40px;
    height: 40px;
    background: grey;
    box-sizing: border-box;
    border: 1px solid lightgrey
}
.wall {
    background: black;
}

.goal {
    background: gold;
}

.player {
    background: #0561eb;
}