body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color : #f0f8ff;
    margin: 0;
    padding: 20px;
}

.game_window {
    background-color: #fff;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

#pet-image {
    width: 150px;
    margin: 20px 0;
}

.stats p {
    font-size: 20px;
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #45a049;
}